<!DOCTYPE html>
<html >
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="tutApp" ng-controller="tutCtl">
	{{name}}
</div>
<script>
	var app = angular.module("tutApp",[]);

app.controller("tutCtl",function($scope){
	$scope.name="Amanda Clark"
})

</script>
 
</body>

</html>